
<div class= "ingredient-form-container">
<%= simple_form_for(@ingredient) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :image, as: :file %>
  </div>


<p>Hack Categories:</p>


 <%= f.collection_check_boxes :hack_category_ids, HackCategory.all, :id, :name %>




  <%= f.fields_for :hacks, ingredient.hacks.build do |hacks_fields| %>
    <%= hacks_fields.input :title %>
    <%= hacks_fields.input :description %>
    <%= hacks_fields.input :image, as: :file %>
    <%= hacks_fields.input :youtube_url %>
    <%= hacks_fields.input :publish %>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
