<p id="notice"><%= notice %></p>

<h1>Hack Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hack_categories.each do |hack_category| %>
      <tr>
        <td><%= hack_category.name %></td>
        <td><%= hack_category.description %></td>
        <td><%= link_to 'Show', hack_category %></td>
        <td><%= link_to 'Edit', edit_hack_category_path(hack_category) %></td>
        <td><%= link_to 'Destroy', hack_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hack Category', new_hack_category_path %>
