<p id="notice"><%= notice %></p>

<p>
  <strong>Hack:</strong>
  <%= @ingredient_hack.hack %>
</p>

<p>
  <strong>Ingredient preservation:</strong>
  <%= @ingredient_hack.ingredient_preservation %>
</p>

<p>
  <strong>Hack category:</strong>
  <%= @ingredient_hack.hack_category %>
</p>

<%= link_to 'Edit', edit_ingredient_hack_path(@ingredient_hack) %> |
<%= link_to 'Back', ingredient_hacks_path %>
