<!DOCTYPE html>
<html>
  <head>
    <title>CoddleKitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <!-- added to connect to adsense - AdSense code -->
      <script data-ad-client="ca-pub-7314070726432817" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<!-- pinterest claim tag -->
  <!--     <meta name="p:domain_verify" content="7e32e2835fd8c7f346dc53173edc8761"/> -->

    <!-- adsense -->

<!--   bootstrap link -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<!--   bootstrap link -->


  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>


